@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu&display=swap&wght@400');


/* Variables de colore */

:root{
    --color1: #EDEAE8;
    --color2: #FAF8F6;
    --color3: #ffffff;
    --color4: #235B3F;
    --color5: #111111;
    --color6: #CFE6DD;
    --color7: rgba(0,0,0,0.5)
}


/* Reset */

*{
    margin: 0;
    padding: 0;
}


/* Reglas para etiquetas */

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

body{
    background-color: var(--color1);
    color: var(--color5);
}

a{
    color: var(--color4)
}

footer,
header,
main{
    padding: 1em 0;
}

footer{
    background-color: var(--color4);
    color: var(--color3);
    text-align: center;
}

footer a{
    color: var(--color6)
}

footer h2{
    color: var(--color3)
}

footer ul>li,
nav ul>li{
    display: inline-block;
    list-style-position: outside;
    list-style-type: none;
}

header{
    color: var(--color2);
    background: linear-gradient(var(--color7) 0%, var(--color7) 100%),
                url("../img/coding_html.jpg");
    background-position: 0%, 50%;
    background-size: cover, cover;
}

h1, h2{
    margin: 0.5em 0 0.3em;
    font-family: 'Roboto Condensed', sans-serif;
}
h2, h3{
    color: var(--color4);
}
h1{
    font-size: 1.75em;
}
h2{
    font-size: 1.4em;
}
h3{
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

h2>i{
    margin-right: 0.75em;
}
li i,
span i{
    margin-right: 0.4em;
}
li{
    list-style-position: inside;
    list-style-type: disc;
}

main,
footer{
    display: flex;
    justify-content: center;
}

nav{
    height: auto;
    width: 100vw;
    text-align: center;
}

nav a{
    display: inline-block;
    padding: 0.75em 0.75em;
    color: var(--color2);
    transition: 0.3s;
}
nav li>a:hover,
nav li>a:focus{
    border-bottom: solid var(--color3) 0.2em;
    background-color: var(--color6);
    color: var(--color4);
    font-weight: bold;
    transition: 0.3s;
}

p{
    margin: 0.5em 0;
}


/* Reglas para clases */

.btn_mas_cursos, .btn_mas_trabajos{
    margin: 1em 0;
    padding: 0.35em 0.75em;
    border: none;
    border-radius: 0.3em;
    background-color: var(--color4);
    color: var(--color2);
    font-size: 1em;
}

.contenido{
    margin: 1em 0;
    max-width: 1200px;
}
.contenido_seccion{
    margin: 1em 0;
    padding: 1em 2em;
    padding-top: 2.5em;
    background-color: var(--color2);
}

.contenido .redes_sociales ul{
    padding: 0.5em 1em 1em;
}
.contenido .redes_sociales ul li{
    padding: 0 0.25em;
}
.contenido .copyright{
    padding: 1em 1.5em 0;
    border-top: solid 0.1em var(--color3);
    font-size: 0.8em;
}

.curso, .trabajo{
    padding-top: 0.5em;
    border-bottom: solid var(--color4) 0.1em;
}
.curso:nth-last-child(1),
.trabajo:nth-last-child(1){
    border-bottom: none;
}
.cursos_recientes,
.cursos_anteriores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.curso{
    display: flex;
    flex-direction: row;
    width: 47.5%;
}
.curso_info{
    padding-left: 1.5em;
}
.curso_logo{
    border-radius: 100%;
    width: 3.25em;
    height: 3.25em;
}
.cursos_anteriores,
.trabajos_anteriores{
    display: none;
}

.footer .contenido{
    margin-bottom: 0;
    padding-bottom: 0;
}

.mostrar_trabajos_anteriores{
    display: block;
}

.habilidades ul,
.hobbies ul{
    text-align: center;
}
.habilidades li,
.hobbies li{
    display: inline-block;
    margin: 0.3em 0.15em;
    padding: 0.3em 0.8em;
    border-radius: 1em;
    background-color: var(--color6);
    list-style-type: none;
    font-weight: 500;
    text-align: center;
}

.intro{
    margin-top: 0;
    padding: 1em 15% 0;
    text-align: center;
    text-shadow: 0.12em 0.15em 0.1em #000;
}
.intro_img{
    height: 7.5em;
    width: 7.5em;
    border: solid var(--color3) 0.2em;
    border-radius: 100%;
}

.mostrar_cursos_anteriores{
    display: flex;
}

.nav_fixed{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color4);
}

.trabajo{
    margin: 1em 0;
}

.texto_intro{
    margin-bottom: 0;
    font-size: 1.15em;
}

.titulo{
    padding-top: 1em;
}


/* Reglas para identificadores */

#menu{
    display: none;
}


/* Media Queries */

@media (max-width: 800px) {
    header,
    main{
        padding: 1em 7.5%;
    }
    nav, .contenido{
        margin: 0;
        padding: 0;
    }
    .contenido_seccion{
        margin: 1em 0;
    }
    .curso{
        width: 100%;
    }
    .intro{
        padding: 1em 1em;
    }
    .intro_img{
        height: 8.5em;
        width: 8.5em;
    }
}

@media (max-width: 600px) {
    header,   
    main{
    padding: 0.5em 0.25%;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
    h1{
        font-size: 2em;
    }
    .intro_img{
        height: 15em;
        width: 15em;
        border: solid var(--color3) 0.3em;
    }

    .nav_fixed{
        position: fixed;
        top: 3em;
        width: 100vw;
        height: 100vh;
        text-align: left;
    }
    .nav_fixed li{
        width: 100%;
        background-color: var(--color4);
    }
    .nav_fixed a{
        width: 100%;
        padding: 0.75em;
        padding-left: 2em;
        font-size: 1.25em;
    }

    #menu{
        position: fixed;
        display: inline;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0.3em 1em;
        width: 100%;
        background-color: var(--color4);
        font-size: 1.1em;
        font-weight: bold;
        line-height: 1.8em;
    }
    #menu_check:not(:checked) ~ nav{
        display: none;
    }
    #menu_check:checked ~ nav{
        position: fixed;
        display: block;
        top: 2.5em;
        left: 0;
        height: 100%;
    }
    #menu #menu_abrir,
    #menu #menu_cerrar{
        padding: 0.2em 0.6em;
        border-radius: 0.5em;
        border: solid var(--color1) 0.1em;
    }
    #menu #menu_cerrar{
        display: none;
    }
    #menu_check:checked ~ label>#menu_abrir{
        display: none;
    }
    #menu_check:checked ~ label>#menu_cerrar{
        display: inline;
    }
    label>span#menu_abrir:hover,
    label>span#menu_abrir:focus,
    label>span#menu_cerrar:hover,
    label>span#menu_cerrar:focus{
        background-color: var(--color3);
        color: var(--color4);
        border: solid var(--color6) 0.1em;
    }
}